body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;      
    background-color: #f0f0f0;
}

.banner {
    background-color: rgb(212, 207, 207);
    padding: 20px;
    border: 1px solid #fcf4db;
    border-radius: 10px;  
    margin-bottom: 30px;
    
    width: 80%;           
    max-width: 500px;     
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao {
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
}


  